/* CSS Document */
html {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0;
	background-color: #FFF;
	height: 100%;
}

body, div, p, td, span {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 11px;
}

a:link, a:visited {
	text-decoration: none;
	color: #0B55C4;
}

a:hover {

}

h1, h2, h3, h4, h5,
#header3 span,
.step-on, .step-off, .step-grey,
.step,
.button1-left a,
.button1-right a {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 20px;
	line-height: 30px;
	color: #0B55C4;
	font-weight: bold;
	padding: 0;
	margin: 0;
	float: left;
}

form {
	margin: 0;
	padding: 0;
}

/* new group */
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* IE6 */
* html .group { height: 1%; }

/*IE7 */
.group { min-height: 1px; }

/* installer */
#header-box  { 
	color: #fff;
	background-color: #333;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555), to(#333));
	background-image: -moz-linear-gradient(0% 0% 270deg,#555, #333);
}

#header-box span {
	font-size: 22px;
	font-weight: bold;
	line-height: 44px;
}

#header-box #version {
	float: right;
	padding-top: 25px;
}

#step-box {
	padding-top: 5px;
	border-top: 1px solid #bbb;
	background: #F7F7F7 -webkit-gradient(linear, 0% 35%, 0% 100%, from(#6497EF), to(#427FE2));
	background: #F7F7F7 -moz-linear-gradient(0% 35% 270deg,#f7f7f7, #FFF);
}

#toolbar-box {
	padding: 6px 0;
	background: #F7F7F7 -webkit-gradient(linear, 0% 35%, 0% 100%, from(#f9f9f9), to(#f1f1f1));
	background: #F7F7F7 -moz-linear-gradient(0% 35% 270deg,#f9f9f9, #f1f1f1);
	border-bottom: 1px solid #DDD;
}

#content-box {
	padding: 10px 0;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

#content-box h2 {
	font-size: 14px;
	line-height: 20px;
	height: 20px;
	color: #333;
	font-weight: bold;
	margin: 0;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}

#stepbar {
	list-style: none;
	margin: 0;
	padding: 0;
}

#stepbar li { 
	float: left;
	color: #FFF;
}

.step-on, .step-off, .step-grey {
	padding: 10px 10px;
}
.step-on 	{ color: #0B55C4 !important; }
.step-grey 	{ color: #a7a7a7 !important; }

#stepbar {
	list-style: none;
}

#stepbar li {
	float: left;
	padding: 0;
	margin: 0 2px;
}

#stepbar li {
	padding: 8px 15px;
	font-weight: bold;
	color: #FFF;
	display: block;
	background: #385DBC;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

#stepbar li.step-on {
	color: #444;
	background: #f9f9f9;
}

.buttons {
	margin-top: 2px;
	float: right;
	text-align: right;
}

.button1-left {
	background: url(../images/j_button1_left.png) no-repeat;
	float: left;
	margin-left: 5px;
}

.button1-right {
	background: url(../images/j_button1_right.png) 100% 0 no-repeat;
	float: left;
	margin-left: 5px;
}

.button1-left .refresh {
	float: left;
	background: url(../images/j_button1_refresh.png) 100% 0 no-repeat;
}

.button1-right .prev {
	float: left;
	background: url(../images/j_button1_prev.png) no-repeat;
}

.button1-left .next {
	float: left;
	background: url(../images/j_button1_next.png) 100% 0 no-repeat;
}

.button1-left .site {
	float: left;
	background: url(../images/j_button1_site.png) 100% 0 no-repeat;
}

.button1-left .admin {
	float: left;
	background: url(../images/j_button1_admin.png) 100% 0 no-repeat;
}

.button1-left .collate {
	float: left;
	background: url(../images/j_button1_collate.png) 100% 0 no-repeat;
}



.button1-left a,
.button1-right a {
	display: block;
	height: 26px;
	float: left;
	line-height: 26px;
	font-size: 11px;
	font-weight: bold;
	color: #333;
	cursor: pointer;
}

.button1-left a {
	padding: 0 30px 0 6px;
}

.button1-right a {
	padding: 0 6px 0 30px;
}

.install-text {
	color: #444;
}

.install-body {
	border: 1px solid #DDD;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.extra-padding {
	padding: 0px;
}

.install-body fieldset {
	padding: 10px;
	margin: 0;
	border: 0;
}

#copyright {
	margin: 10px;
	text-align: center;
}

.Yes, .Writeable {
	font-weight: bold;
	color: #46882B;
}

.No, .Unwriteable {
	font-weight: bold;
	color: #c00;
}

.content       { width: 100%; }
.content .item { width: 50%; }
.content2 .item { width: 30%; }

.license {
  padding: 0px;
  width: 100%;
  height: 500px;
}

.error {
	font-size: 14px;
	font-weight: bold;
	color: #c00;
}

h3.title-smenu {
	margin: 0;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	padding: 4px;
	background-color: #EBEBEB;
	margin-bottom: 1px;
	font-size: 12px;
	color: #666;
}

/* hack to stop ugly aliasing in IE */
div.moofx-slider {
  background: #fbfbfb;
}

.final-table { width: 100%; }

td em {
	color: #666;
}

div#javascript-warning {
	padding: 1em;
	border: 1px solid #ccc;
	background-color: red;
	margin-bottom: 10px;
	font-size: 18px;
	color: white;
}