/* $Id$ */


td.-logs-timeago,
table.adminlist tbody tr:nth-child(even) td.-logs-timeago {
	height: auto;
	text-align: left;	
	font-weight: bold;
	background-color: #ededed;
	border-bottom: 1px solid #dddddd;
}

.-logs-when {
	font-weight: bold;
	text-align: center;
}

.-logs-createdby,
.-logs-action {
	font-weight: bold;
}

th.-logs-when {
	width: 15%;
}

th.-logs-message {
	width: 30%;
}

.-logs-item,
table.adminlist thead th.-logs-item {
	text-align: left;
}

.-logs-deleted {
	text-decoration: line-through;
}