td.activities-timeago {
	height: auto;
	text-align: left;	
	font-weight: bold;
	background-color: #ededed;
	border-bottom: 1px solid #dddddd;
}

.activities-deleted {
	text-decoration: line-through;
}

.activities-filter fieldset > div {
	padding: 10px;
}