#comments-comments-list .comment { margin: 10px; border: 1px solid #DDD; -webkit-border-radius: 5px; }

#comments-comments-list .comment .comment-header {
	background-image: -webkit-gradient(linear, 0% 50%, 0% 100%, from(#f1f2f4), to(#e8eaec));
	-webkit-border-radius: 5px 5px 0px 0px;
	padding: 7px;
	font-weight: bold;
}

#comments-comments-list .comment .comment-header time {
	float: right;
	color: #999;
	font-weight: normal;
}

#comments-comments-list .comment { background: #fff; }
#comments-comments-list .comment p { padding: 8px; margin: 0; }

#comments-comments-list form {
	background: #F7F7F7;
	border-top: 1px solid #DDD;
	padding: 10px 20px 10px 10px;
}

#comments-comments-list textarea {
	width: 100%;
	height: 50px;
}

#comments-comments-list input.button { width: 100px; }

#comments-comments-list input.button {
	border: 0 none;
	background-color: #0B55C4;
	padding: 3px 5px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	color: white;
}

#comments-comments-list input.button:hover 		{ background-color: #07316f; }
#comments-comments-list input.button[disabled] 	{ background-color: silver; }