.pagination .limit {
	float: left;
}

.pagination .count {
	padding:3px 0 0 10px;
	float: left;
}

.pagination .pages {
	margin:0px;
	padding:3px 0 0 0;
	float: left;
}

.pagination .active {
	font-weight: bold;
}

.pagination li {
	display:inline;
	margin:0;
	padding:4px;
}