.idea/.name
.idea/encodings.xml
.idea/libraries/sass_stdlib.xml
.idea/misc.xml
.idea/modules.xml
.idea/nooku-framework-git.iml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
code/configuration.php
scripts/vagrant/.vagrant
