#activities-list { }

#activities-list h3,
#activities-list h4 {
	background-color: #f1f2f4;
	background-image: -webkit-gradient(linear, 0% 50%, 0% 100%, from(#f1f2f4), to(#e8eaec));
	background-image: -moz-linear-gradient(0% 50% 270deg,#f1f2f4, #e8eaec);
}

#activities-list h3 {
	margin: 0 0 10px 0;
	padding: 7px 15px;
}

#activities-list h4 {
	padding: 5px;
	margin: 0 10px;
	font-size: 1em;
	border: 1px solid #E8EAEC;
	border-bottom-color: #E3E3E3;
	color: #666;
	-webkit-border-radius: 5px; -moz-border-radius: 5px;
}

#activities-list .activities { margin: 0 10px 10px 10px; }

#activities-list .activities .activity 			{ padding: 7px; border-bottom: 1px solid #DDD;  }
#activities-list .activities .activity:last-child 	{ border-bottom: none 0px; }

#activities-list .activities .activity span.info { color: #999; float: right; width: auto; text-transform: capitalize; }