#sidebar h3 {
	background: #eaeaea;
}

td.activities-timeago,
table.adminlist tbody tr:nth-child(even) td.activities-timeago {
	height: auto;
	text-align: left;	
	font-weight: bold;
	background-color: #ededed;
	border-bottom: 1px solid #dddddd;
}

.activities-time {
	font-weight: bold;
}

.activities-action {
	font-weight: bold;
}

.activities-item,
table.adminlist thead th.-activities-item {
	text-align: left;
}

.activities-deleted {
	text-decoration: line-through;
}

.activities-filter{
	margin: 20px 0 0 0;
}

.activities-filter h4 {
	padding: 5px 0 10px 0;
	margin: 0;
	clear: both;
}

#sidebar fieldset{
	margin: 10px 0 0 0;
	padding: 0 10px;
	border: none;
}

.activities-calendar > * {
	float:left;
}

.activities-buttons {
	margin: 10px 0 0 0;
	text-align: left;
	letter-spacing: 10px;
}