#activities-activities-widget { padding: 0 5px 0 15px; }
#activities-activities-widget .log { padding: 3px 0; }
 
 #activities-activities-widget .log a {
 	display: block;
 }
#activities-activities-widget .log span.icon { float: left; display: block; width: 14px; height: 14px; margin-right: 5px; background-position: 0 0; background-size: 14px }