.activities-deleted {
  text-decoration: line-through;
}

.activities-filter fieldset > div {
  padding: 10px;
}

#activities-list {
  padding: 0 10px;
}

#activities-list h3,
#activities-list h4 {
  background: #f1f2f4 linear-gradient(#f1f2f4, darken(#f1f2f4, 5%));
}

#activities-list h3 {
  margin: 0 0 10px 0;
  padding: 7px 15px;
}

#activities-list h4 {
  padding: 5px;
  margin: 10px 0 0 0;
  font-size: 1em;
  border: 1px solid #E8EAEC;
  border-bottom-color: #E3E3E3;
  color: #666;
  border-radius: 5px;
}

#activities-list .activity 		{ padding: 7px; border-top: 1px solid #DDD; }
#activities-list h4 + .activity { border-top: 0 none; }

#activities-list .activity__info { font-size: 10px; color: #999; float: right; width: auto; text-transform: capitalize; }

#activities-filter {
  @include flex(1 1 auto);

  fieldset {
    @include flex(1 1 auto);
    min-width: 100%;

    .input-prepend {
      @include flex(1 1 auto);


      span {
        width: 60px;
        text-align: right;
        border-radius:0;
      }

      input {
        width: auto;
        border-radius:0;
      }
    }
  }
}