#attachments-attachments-upload {
  ul {
    li {
      margin-left: 20px;
    }

    li:nth-last-child(2) {
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid $grayLighter;
    }

    li:last-of-type {
      list-style: none;
    }
  }
}