.com_extensions {
  #toolbar-box {
    border-bottom: 1px solid $grayLighter;
  }

  .tabs {
    position: relative;
    -webkit-flex: 1;
  }

  .tabs h3 {
    color: #666;
    font-size: 11px;
    padding: 6px 0;
    text-indent: 12px;
    margin: 0;
    text-transform: uppercase;
  }

  .tab {
    z-index: 1;
  }
  .tab > label {
    padding: 0px 0 0px 22px;
    line-height: 26px;
    color: #444;
    border-top: 1px solid #F9F9F9;
    font-weight: bold;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .tab > label:hover {
    color: #444;
    border-top-color: lighten($blueDark, 40%);
    @include background(linear-gradient(lighten($blueDark, 45%), lighten($blueDark, 35%)));
    text-decoration: none;
  }

  .tab > [type=radio] {
    display: none;
  }
  .content {
    padding: 20px;

    position: absolute;
    top: 0;
    left: 200px;
    background: white;
    right: 0;
    bottom: 0;
    border-left: 1px solid #E1E1E1;

    overflow: scroll;
  }
  .content > * {
    opacity: 0;
  }
  [type=radio]:checked ~ label {
    color: #FFF;
    border-top-color: lighten($blueDark, 15%);
    @include background(linear-gradient(lighten($blueDark, 20%), $blueDark));
    @include box-shadow(hsla(0, 0%, 100%, 0.2) 0 1px 0 inset);
    text-shadow: hsla(0, 0%, 0%, 0.2) 0 -1px 0;

    z-index: 2;
  }
  [type=radio]:checked ~ label ~ .content {
    z-index: 10;
  }
  [type=radio]:checked ~ label ~ .content > * {
    opacity: 1;
  }
}