/* com:application.view.page.login.html */
body.login
{
  overflow: auto;
  background-color: #f5f5f5;

  .login-box {
    width: 275px;
    margin: auto;

    border: 1px solid #D7DADE;
    background: #FFF;
    border-radius:10px;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);

    h1 {
      margin: 0;
      text-align: center;
      padding: 10px 0;
      color: $grayDarker;
      background: linear-gradient(#f6f6f6, #e6e6e6);
      border-radius:10px 10px 0 0;
      border-bottom: 1px solid #D7DADE;
    }

    form  {
      margin: 0px; padding: 15px 25px 0;

      label {
        font-size: 13px;
        width: 120px;
        text-align: left;
        padding: 4px;
        color: #666;
        font-weight: bold;
      }

      input {
        width: 220px !important;
        padding: 4px 8px;
        font-size: $baseFontSize * 1.5;
        @include box-sizing(border-box);
        height: $baseLineHeight * 3;
      }

      a {
        text-align: center;
        display: block;
      }
    }
  }

  .form {
    #password-check.score1 {
      color: #FF0000;
    }

    #password-check.score2 {
      color: #FF5F5F;
    }

    #password-check.score3 {
      color: #56E500;
    }

    #password-check.score4 {
      color: #4DCD00;
    }

    #password-check.score5 {
      color: #399800;
    }
  }

  .alert__text {
    background: #c4553c linear-gradient(135deg, transparent,
      transparent 25%, hsla(0,0%,0%,.1) 25%,
      hsla(0,0%,0%,.1) 50%, transparent 50%,
      transparent 75%, hsla(0,0%,0%,.1) 75%,
      hsla(0,0%,0%,.1));
    background-size: 20px 20px;
    box-shadow: 0 5px 0 hsla(0,0%,0%,.1);
    color: #f6f6f6;
    display: block;
    height: 40px;
    font: bold 16px/40px sans-serif;
    text-align: center;
    text-decoration: none;
  }
}