<?xml version="1.0" encoding="utf-8"?>
<config>
	<params path="/application/admin/component/pages/element">
		<param name="menu" type="menu" default="" label="Menu" description="" />
		<param name="show_title" type="radio" default="0" label="Module title" description="">
			<option value="1">Show</option>
			<option value="0">Hide</option>
		</param>
		<param name="max_level" type="text" default="9" size="5" label="Max Levels" description="Total sub-menu levels to show" />
		<param name="active_only" type="radio" default="1" label="Show only the active sub-menu tree" description="Only display the sub-menu items of the active parent menu.">
			<option value="1">Yes</option>
			<option value="0">No</option>
		</param>
	</params>
</config>