.alert__text {
  background: #c4553c linear-gradient(135deg, transparent,
    transparent 25%, hsla(0,0%,0%,.1) 25%,
    hsla(0,0%,0%,.1) 50%, transparent 50%,
    transparent 75%, hsla(0,0%,0%,.1) 75%,
    hsla(0,0%,0%,.1));
  background-size: 20px 20px;
  box-shadow: 0 5px 0 hsla(0,0%,0%,.1);
  color: #f6f6f6;
  display: block;
  font: bold 16px/40px sans-serif;
  text-align: center;
  text-decoration: none;
  -webkit-animation: alert 1s ease forwards;
  animation: alert 1s ease forwards;
}

/* Animation */
@-webkit-keyframes alert {
  0% { height: 0; }
  100% { height: 40px; }
}
@-moz-keyframes alert {
  0% { height: 0; }
  100% { height: 40px; }
}
@-ms-keyframes alert {
  0% { height: 0; }
  100% { height: 40px; }
}
@-o-keyframes alert {
  0% { height: 0; }
  100% { height: 40px; }
}
@keyframes alert {
  0% { height: 0; }
  100% { height: 40px; }
}