.navigation {
  margin: 0;

  a {
    @extend .navigation__item;
  }

  li li a {
    padding-left: 36px;
  }
}

.navigation__separator {
  margin: 0;
  padding: 6px 16px;
}

.navigation__item {
  display: block;
  padding-left: 22px;
  line-height: 27px;
  color: #333;
  font-weight: 500;
  border-top: 1px solid $sidebarBackground;

  @extend .ellipsis;

  .navigation__badge {
    margin: auto 8px;
    height: 14px;
    line-height: 14px;

    @extend .badge;
  }

  &.level1 {
    padding-left: 36px;
  }

  &:hover {
    border-top: 1px solid lighten($blueDark, 40%);
    background: linear-gradient(lighten($blueDark, 45%), lighten($blueDark, 35%));
    text-decoration: none;
  }

  &.active,
  &.active:hover {
    @extend .navigation__item--active;
  }
}

.navigation__item--active {
  color: #FFF;
  border-top: 1px solid lighten($blueDark, 15%);
  background: linear-gradient(lighten($blueDark, 20%), $blueDark);
  box-shadow: hsla(0, 0%, 100%, 0.2) 0 1px 0 inset;
  text-shadow: hsla(0, 0%, 0%, 0.2) 0 -1px 0;
}

