.pagination {
  float: right;
  font-size: $baseFontSize - 1px;

  > div {
    float: left;

    &.limit {
      line-height: 22px;
      margin: 0 10px;
    }

    select[name="limit"] { width: 50px; }
  }

  a {
    @extend .btn;
    font-size: $baseFontSize - 1px !important;
  }
}