::-webkit-scrollbar {
	width: 10px;
	background-color: #EEE;
	background-image: -webkit-gradient(linear, 0% 100%, 50% 100%, from(#CACACA), to(#FFF));
}

::-webkit-scrollbar:horizontal {
	height: 10px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 50%, from(#CACACA), to(#FFF));
}
 
::-webkit-scrollbar-track {
	margin: 2px;
}
 
::-webkit-scrollbar-thumb {
	background-color: #888;
	background-clip: padding-box;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 3px solid rgba(0,0,100,0);
}
::-webkit-scrollbar-thumb:window-inactive {
	
}