<?xml version="1.0" encoding="utf-8"?>
<!-- $Id$ -->
<config>
	<params>
		<param name="show_comp_description" type="radio" default="1" label="Description" description="Show/Hide the Description below">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param name="comp_description" type="textarea" default="" label="Weblinks Intro" rows="3" cols="50" description="WEBLINKS_INTRO_DESC" />
		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param name="show_link_description" type="radio" default="1" label="Link Descriptions" description="PARAMSHOWHIDELINKS">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param name="show_other_cats" type="radio" default="1" label="Other Categories" description="PARAMWHENVIEWCAT">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param name="show_headings" type="radio" default="1" label="Table Headings" description="Show/Hide the Table Headings">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
	</params>
</config>
