body {color: #000}

#message-box {
	margin: 0 auto; width: 100%;
	text-align: left;
}

/* System Messages */
#system-message    { margin: 0; padding: 0; border-bottom: 1px solid #E1E1E1;}
#system-message dt { font-weight: bold; }
#system-message dd { margin: 0; font-weight: bold; text-indent: 30px; }
#system-message dd ul { color: #0055BB;  list-style: none; padding: 10px; margin: 0; }

/* System Standard Messages */
#system-message dt.message { display: none; }
#system-message dd.message {  }

/* System Error Messages */
#system-message dt.error { display: none; }
#system-message dd.error ul { color: #c00; background-color: #E6C0C0; }

/* System Notice Messages */
#system-message dt.notice { display: none; }
#system-message dd.notice ul { color: #c00; background: #EFE7B8; }