#terms-panel  {
	margin-left:10px; 
}

#terms-panel a.button-delete {
	background:transparent url(../images/delete_x_small_sprite.gif) no-repeat scroll 3px 4px;
	display:inline;
	height:14px;
	width:14px;
	padding:0 7px;
}

#terms-panel a.button-delete:hover {
	background-position: 3px -34px;
}

#terms-panel a.button-delete span {
	left:-999em;
	position:absolute;
}

#terms-panel .term {
	padding: 3px;
}

#terms-panel .list {
}

#terms-panel .button {
	border: 0 none;
	background:#0B55C4 none repeat scroll 0 0;
	padding:3px 5px;
	margin-left: 3px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: white;
}

#terms-panel .button:hover {
	background-color:#07316f;
}
 
#terms-panel form {
	padding-top: 15px;
	padding-bottom: 5px;
}

#terms-panel input {
	padding: 3px 5px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}