<?xml version="1.0" encoding="utf-8"?>
<config>
	<params>
		<param name="image_path" type="text" size="50" default="images" label="PATH TO IMAGE FOLDER" description="TIPIMAGEFOLDERWARN" />
		<param name="upload_extensions" type="text" size="50" default="3gp,avi,bmp,csv,doc,docx,flv,gif,ico,jpg,jpeg,mkv,mov,mp3,mp4,mpg,mpeg,odg,odp,ods,odt,ogg,pdf,png,pps,ppsx,ppt,pptx,psd,rtf,svg,swf,txt,xcf,xls,xlsx,vcf,wav,webm,webp,wma,wmv" label="LEGAL EXTENSIONS LABEL" description="LEGAL EXTENSIONS DESC" />
		<param name="upload_maxsize" type="text" size="50" default="10000000" label="MAXIMUM SIZE LABEL" description="MAXIMUM SIZE DESC" />
		<param name="allowed_media_usergroup" type="list" default="3" label="ALLOWED_USERGROUP" description="ALLOWED_USERGROUP_DESC">
			<option value="4">Registered</option>
			<option value="3">Author</option>
			<option value="2">Editor</option>
			<option value="1">Publisher</option>
		</param>		
		<param name="check_mime" type="radio" default="1" label="CHECK MIME" description="CHECK MIME DESC">
			<option value="0">NO</option>
			<option value="1">YES</option>
		</param>
		<param name="upload_mime" type="text" size="50" default="image/jpeg,image/gif,image/png,image/bmp,application/x-shockwave-flash,application/msword,application/excel,application/pdf,application/powerpoint,text/plain,application/x-zip" label="LEGAL MIME TYPES LABEL" description="LEGAL MIME TYPES DESC" />
	</params>
</config>
