.mooTree_node {
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	white-space: nowrap;
	padding: 5px 15px 4px 0px;
	overflow: hidden; text-overflow: ellipsis;
}

.mooTree_text {
	padding-top: 3px;
	height: 15px;
	cursor: pointer;
}

.mooTree_img {
	float: left;
	width: 18px;
	height: 18px;
	overflow: hidden;
}

.mooTree_selected	 {
	background-color: #ffc;
	font-weight: bold;
}

aside#sidebar ul.list li a 			{ padding: 5px 15px 4px 23px; display: block; color: #191919; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
aside#sidebar ul.list li a:hover 	{ text-decoration: none; }

aside#sidebar ul.list li a:hover,
aside#sidebar ul.list li a.active	{ padding-top: 4px; border-top-width: 1px; border-top-style: solid; }

.mooTree_node:hover	{ border-top-color: #c5dbf0; background-image: -webkit-gradient(linear, 0% 25%, 0% 100%, from(#cee1f4), to(#b2cde8)); position: relative; }


.mooTree_selected,
.mooTree_selected:hover {  
	color: #FFF;
	border-top-color: #5494D2;
	background-image: -webkit-gradient(linear, 0% 25%, 0% 100%, from(#6EA6DE), to(#1C6CBB));
}