.mooTree_node {
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	white-space: nowrap;
	padding: 2px 5px 2px 0px;
	overflow: hidden; text-overflow: ellipsis;
	border-top: 1px solid #FFF;
}

.mooTree_node:hover	{ 
	border-top-color: #c5dbf0;
	background-color: #cee1f4;
	background-image: -webkit-gradient(linear, 0% 25%, 0% 100%, from(#cee1f4), to(#b2cde8));
	background-image: -moz-linear-gradient(0% 25% 270deg,#cee1f4, #b2cde8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cee1f4', endColorstr='#b2cde8');
}

.mooTree_text {
	padding-top: 3px;
	height: 15px;
	cursor: pointer;
}

.mooTree_img {
	float: left;
	width: 18px;
	height: 18px;
	overflow: hidden;
}

.mooTree_selected	 {
	background-color: #ffc;
	font-weight: bold;
}

.mooTree_selected,
.mooTree_selected:hover {  
	color: #FFF;
	border-top-color: #5494D2;
	background-color: #6EA6DE;
	background-image: -webkit-gradient(linear, 0% 25%, 0% 100%, from(#6EA6DE), to(#1C6CBB));
	background-image: -moz-linear-gradient(0% 25% 270deg,#6EA6DE, #1C6CBB);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6EA6DE', endColorstr='#1C6CBB');
}