@import url("koowa.css");

/* -- General styles ------------------------------ */

div.message {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 3px;
	border: 1px solid #e0e0e0;
	margin-bottom: 10px;
	font-weight: bold;
	color: #333;
	/*letter-spacing: .1em;*/  /* letter spacing doesn't work for all languages */
}

.helpIndex {
	border: 0px;
	width: 100%;
	height: 100%;
	padding: 0px 0px 0px 0px;
	overflow: auto;
}
.helpFrame {
	border-left: 0px solid #222;
	border-right: none;
	border-top: none;
	border-bottom: none;
	width: 100%;
	height: 800px;
	padding: 0px 5px 0px 10px;
}
#treecellhelp {
	width: 25%;
	display: block;
	position: relative;
	float: left;
	margin: 0;
	padding: 2px;
	overflow: hidden;
}

#datacellhelp {
	width: 73%;
	display: block;
	float: left;
	margin: 0;
	padding: 2px 0px 0px 0px;
}

.com_dashboard #content-box,
.com_settings #content-box {
	overflow-y: scroll; /* Fix, force scrollbar */
}

.com_articles .panel.folders {
	padding-bottom: 14px;
}

.com_articles .panel.folders h3 {
	margin-bottom: 10px;
}

.com_articles .panel.folders span {
	padding: 12px 10px 4px 14px;
	font-weight: bold;
	clear: left;
	float: left;
}

.com_articles .panel.folders input,
.com_articles .panel.folders label {
	margin-top: 8px;
	float: left;
}

.com_articles .panel.folders input {
	margin: 8px 5px 0 24px;
	display: list-item;
	float: left;
	clear: left;
}

.com_articles textarea[name="description"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	resize: vertical;
	width: 100%
}

.com_dashboard #content-box {
	padding: 20px;
}