/* @group Flexible Box Model, powered by CSS3 */
.-koowa-box { 
	display: -webkit-box;
	display: -moz-box;
}

.-koowa-box-horizontal 		{ 
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: stretch;
	
	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-align: stretch;
}	
.-koowa-box-horizontal> * 	{ 
	display: block;
	-webkit-box-flex: 0; 
	-moz-box-flex: 0; 
}

.-koowa-box-vertical 		{ 
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: stretch;
	
	display: -moz-box;
	-moz-box-orient: vertical;
	-moz-box-align: stretch;
}
.-koowa-box-vertical> * 	{ 
	display: block;
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
}

.-koowa-box-spacer 	{ 
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
}
.-koowa-box-reverse { 
	-webkit-box-direction: reverse;
	-moz-box-direction: reverse;
}

.-koowa-box-flex0 	{ 
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
}
.-koowa-box-flex1,
.-koowa-box-flex 	{ 
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
}
.-koowa-box-flex2 	{
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
}

.-koowa-box-group1 { 
	-webkit-box-flex-group: 1; 
	-moz-box-flex-group: 1; 
}
.-koowa-box-group2 { 
	-webkit-box-flex-group: 2;
	-moz-box-flex-group: 2; 
}

.-koowa-box-start 	{ 
	-webkit-box-pack: start;
	-moz-box-pack: start;
}
.-koowa-box-end 	{ 
	-webkit-box-pack: end;
	-moz-box-pack: end;
}
.-koowa-box-center 	{
	-webkit-box-pack: center;
	-moz-box-pack: center;
}

.-koowa-box-ordinal-group2 { 
	-webkit-box-ordinal-group: 2;
	-moz-box-ordinal-group: 2;
}
.-koowa-box-ordinal-group3 { 
	-webkit-box-ordinal-group: 3;
	-moz-box-ordinal-group: 3;
}
/* @end group */

.-koowa-box-scroll { overflow-y: scroll; }