/* -- Imported styles ----------------------------- */

@import url("general.css");

/* -- Specific styles ----------------------------- */
body {
	overflow: auto;
}

form  			{ margin: 0px; padding: 0px; }
form .inputbox  { 
	width: 235px !important;
	font-size: 20px;
	padding: 5px;
	border: 1px solid #D7DADE;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.login 		{ margin: 0 auto; width: 300px; margin-bottom: 100px; }

h1 { 
	margin: 0;
	text-align: center;
	background: grey;
	-webkit-box-shadow: #AAA 0px 2px 3px;
	-moz-box-shadow: #AAA 0px 2px 3px;
	box-shadow: #AAA 0px 2px 3px;
	padding: 10px 0;
	color: #464646;
	background-color: #f6f6f6;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f6f6f6), to(#e6e6e6));
	background-image: -moz-linear-gradient(0% 0% 270deg,#f6f6f6, #e6e6e6);
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}

p {
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}

img { margin-bottom: 25px; }

#login-box { padding: 50px 0 10px 0; }
#section-box {
	-webkit-box-shadow: #AAA 0px 3px 15px;
	-moz-box-shadow: #AAA 0px 3px 15px;
	box-shadow: #AAA 0px 3px 15px;
	border: 1px solid #D7DADE;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 0 !important;
	background: #FFF;
}

form {
	padding: 25px;
}

a.return {
	margin-top: 15px;
	text-align: center;
	display: block;
}

#form-login label {
	font-size: 13px;
	width: 120px;
	text-align: left;
	padding: 4px;
	color: #666;
	font-weight: bold;
}