/* ---- Basic menu styles ------------------- */

/* common styling */
#menu, #menu ul, #menu li,
#statusmenu, #statusmenu, #statusmenu li { margin: 0; padding: 0; border: 0 none; list-style: none; }

#menu {
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
}

#menu       { position:relative; z-index: 100;}
#menu li    { float:left; position:relative; display: inline; }
#menu li a,
#statusmenu li a  { display:block; white-space: nowrap; }
#menu li li { clear: both; }
#menu li ul { visibility: hidden; position:absolute; }

#menu li li ul {  top: 0; left: 0; }

#menu li:hover ul				{ visibility: visible; }
#menu li:hover ul li ul			{ visibility: hidden;  }
#menu li:hover li:hover ul		{ visibility: visible;  left: 100%; }

/* ---- Menu layout -------------------------- */

#menu li li {
    border: 0;
    display: block;
    float: none;
    width: 100%;
}

#menu ul    { 
	-webkit-box-shadow: rgba(0, 0, 0, .4) 0px 8px 13px, black 0 0 1px;
	-moz-box-shadow: rgba(0, 0, 0, .4) 0px 8px 13px, rgba(0, 0, 0, .3) 0 0 1px;
	box-shadow: rgba(0, 0, 0, .4) 0px 8px 13px, rgba(0, 0, 0, .3) 0 0 1px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	background-color: #FFF;
	padding: 4px 0;
}
#menu ul li.node { background: transparent url(../images/arrow-right.png) no-repeat 95% 50%; }
#menu ul li.separator { background: #DDE1E6; height: 1px; margin: 4px 0; }

#menu a, #menu div,
#statusmenu a {
	padding: 0.60em 1.5em 0.45em;
	color: #FFF;
	line-height: 1.6em; vertical-align: middle;
	font-size: 12px; font-weight: bold; text-decoration: none;
	background-repeat: no-repeat;
	background-image: none !important; /*background-position: 3px 50%;*/
	border-right: 1px solid #555;
}
/* This is for fixing a WebKit quirk, more info: https://nooku.assembla.com/spaces/nooku-server/tickets/159 */
#statusmenu a:hover {
    cursor: pointer;
}
#menu ul li.node > a { background-image: url(../images/arrow-right-active.png)!important; background-repeat: no-repeat; background-position: 195% 50%; }
#menu ul li.node:hover > a { background-position: 95% 50%; }

#menu li.disabled a, #menu li.disabled:hover a,
#statusmenu li.disabled a { color: #666; cursor: default; }

#menu ul a {
	padding-left: 15px;
	padding-right: 30px;
	line-height: 1em;
}

/* 1 level - hover */
#menu li:hover,
#statusmenu li:hover { 
	background-color: #1C44F3;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4F6EF6), to(#1C44F3));
	background-image: -moz-linear-gradient(0% 0% 270deg,#4F6EF6, #1C44F3); }
#menu li.disabled:hover {
    background: transparent;
}
#menu li:hover a { color: #FFF; margin: 0; }
/* 2 level - normal */
#menu li:hover ul {  }
#menu li:hover ul li { border-top: 1px solid #FFF; }
#menu li:hover li a { color: #333; background-color: transparent; border: 0 none; padding-top: 0.75em; padding-bottom: 0.75em; }
/* 2 level - hover */
#menu li:hover li:hover { 
	background-color: #1C44F3;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4f6ef6), to(#1C44F3));
	background-image: -moz-linear-gradient(0% 0% 270deg,#4F6EF6, #1C44F3);
	border-top: 1px solid #3a5df5; }
#menu li:hover li.separator:hover { background: #DDE1E6; border-top-color: #FFF; }
#menu li:hover li:hover ul { 
	border-top: 0 none !important;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-radius: 5px;
	margin-top: -5px;
	z-index: 1; }
#menu li:hover li:hover a { color: #FFF; }
/* 3 level - normal */
#menu li:hover li:hover ul { -webkit-border-top-left-radius: 0; -moz-border-radius-topleft: 0; border-top-left-radius: 0; }
#menu li:hover li:hover li a { color: #333; background-color: transparent; border: 0 none; }
/* 3 level - hover */
#menu li:hover li:hover li:hover { 
	background-color: #1C44F3;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4f6ef6), to(#1C44F3));
	background-image: -moz-linear-gradient(0% 0% 270deg,#4F6EF6, #1C44F3); }
#menu li:hover li:hover li:hover a { color: #FFF; }

/* statusmenu */
#statusmenu {
	display: -webkit-box;
	display: -moz-box;
}

/* submenu styling */
#submenu {
	display: -webkit-box;
	display: -moz-box;
	
	list-style: none;
	margin: 0;
	padding: 0 0 0 15px;
}

#submenu li {
	padding: 0;
	margin: 5px 2px 0 2px;
}

#submenu li a,
#submenu span.nolink {
	cursor: pointer;
	padding: 8px 15px;
	font-weight: bold;
	color: #FFF;
	display: block;
	background: #385DBC;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

#submenu span.nolink {
	color: #284388;
	cursor: default;
}

#submenu a.active,
#submenu span.nolink.active {
	color: #444;
	background: #f9f9f9;
}

#submenu a.active:hover,
#submenu span.nolink.active:hover {
	text-decoration: none !important;
}