//
// Thumbnails
// --------------------------------------------------


// The actual thumbnail (can be `a` or `div`)
.thumbnail {
  display: block;
  width: 130px;
  margin-bottom: 10px;
  margin-right: 10px;
  float: left;
  padding: 4px;
  line-height: $baseLineHeight;
  border: 1px solid #ddd;
  @include border-radius($baseBorderRadius);
  @include transition(all .2s ease-in-out);
}

.thumbnail img {
  opacity: 0;
  @include transition(opacity 150ms ease-out);
}
.thumbnail img.loaded {
  opacity: 1;
}

.thumbnail {
  cursor: pointer;
  display: inline-block;
  border: 1px;

  padding: 11px;
  margin: 5px;
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 3px;
  @include transition(opacity 150ms ease-out);
}

.thumbnail.selected {
  color: white;
  border-color: mix($blueDark, $blueDark, 50%);
  border-color: hsla(0, 0%, 0%, .1);
  background-color: mix($blueDark, $blueDark, 50%);
  background-clip: border-box;
  background-origin: border-box;
  text-shadow: hsla(0, 0%, 0%, 0.3) 0 -1px 0;

  @include box-shadow(hsla(0, 0%, 100%, 0.2) 0 1px 0 inset);
  @include background(linear-gradient($blueDark, $blueDark));
}

// Images and captions
.thumbnail__caption {
  padding: 9px;
  color: $gray;

  max-width: 200px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 17px;
}
