/*----------------------------------------------------------------------------
++ Article Mailto Styling
++ This styles the mail to popup window that is used to email an article link.
----------------------------------------------------------------------------*/
html{background:#ddd!important;margin:0;padding:0!important;}
body#witblits{margin:0;padding:2em 2em 0 2em!important;font:normal 76%/160% Arial, Helvetica, sans-serif;background:#ddd;}
#witblits #mailto-wrap{text-align:left;position:relative;}
#witblits h3{font-size:2em!important;margin:0;padding:0 0 1em!important;}
#witblits ul,
#witblits li{list-style:none;margin:0;padding:0;}
#witblits label{display:block;font-size:1.2em;}
#witblits .text-input{padding:0.5em;margin:.1em 0 .7em 0;width:90%;}
#witblits .focus{border-color:#ccc;}
#witblits .form-action{padding:.5em 0 0 0;margin:0 0 .5em 0;}
#witblits button{font-size:1.2em;cursor:pointer;width:auto;padding:0 1em;border:1px solid #ccc;height:36px;color:#777;border-color:#B7B6B6;margin:.6em 5px 0 0;}
#witblits button:hover{}
#witblits button:focus{}
#witblits .send{}
#witblits .cancel{}
#witblits .success-message{padding:6em 5em;}
#witblits .success-message h3{margin-top:2em;}
#witblits .success-message a.close-window{display:block;width:300px;margin:0 auto;text-align:center;}