/*----------------------------------------------------------------------------
++ Menu Styling
++ These styles are for the primary drop down navigation.
----------------------------------------------------------------------------*/
/* Skip To Menu
******************************************************/
#skipto{position:absolute;top:0;left:0;z-index:999;width:100%;padding:.5em 0 .8em;background:transparent;font-weight:bold;text-align:center;opacity:0;}
#skipto.hidden{visibility:hidden;}
#skipto ul{background:none;margin:0 auto;text-align:center;visibility:hidden;width:430px;}
#skipto:hover ul{visibility:visible;}
#skipto li{display:inline;padding-right:1em;}
#skipto a:link, #skipto a:visited{color: #191919;}
#skipto:hover,
#skipto:focus,
#skipto:active{background:#000;}

/* Top Menu (Standard)
******************************************************/
/* all menu links */
#nav{float:left;margin:0;}
#nav li{margin:0;padding:0;border-right: 1px solid #ddd;border-left: 1px solid #fff;}
#nav a,#subMenusContainer a{text-decoration:none;display:block;}
/* Just main menu links --[for non-javascript users this applies to submenu links as well]*/
#nav a, #nav .separator{display: block; float: left; text-decoration: none; color: #777; font-size: 1.1em; padding:0 1em;height:35px;line-height:35px;}
/* Just sub menu links */
#subMenusContainer a,#nav li li a{text-align:left;}

/* Submenu links on hover or focus */
#subMenusContainer a:hover{background-color:#ddd;}
#subMenusContainer a:focus,
#nav a.mainMenuParentBtnFocused,
#subMenusContainer a.subMenuParentBtnFocused{background-color:#fff;}

/* sub menu links on hover or focus */
#subMenusContainer a:hover,
#subMenusContainer a:focus,
#nav a.mainMenuParentBtnFocused,
#subMenusContainer a.subMenuParentBtnFocused,
#nav li a:hover,
#nav li a:focus{background-color:#eee;color:#555;}

/* Parent Sub Menu Links ---[javascript users only]*/
.subMenuParentBtn{background-image:url(../images/arrow_right.gif);background-position:right center;background-repeat:no-repeat;}

/* Parent Sub Menu Links on hover or focus ---[javascript users only]*/
.subMenuParentBtnFocused{background-image:url(../images/arrow_right_over.gif);background-position:right center;background-repeat:no-repeat;}

/* Parent Main Menu Links ---[javascript users only]*/
.mainMenuParentBtn{background-image:url(../images/arrow_down.gif);background-position:right center;background-repeat:no-repeat;}

/* Parent Main Menu Links on hover or focus ---[javascript users only]*/
.mainMenuParentBtnFocused{background-image:url(../images/arrow_down_over.gif);background-position:right center;background-repeat:no-repeat;}

/* ----[ OLs ULs,LIs,and DIVs ]----*/
/* Submenu Outer Wrapper - each submenu is inside a div with this class - javascript users only */
.smOW{display:none;position:absolute;overflow:hidden;/*the 2px left & right padding lets you have a 1px border 
on the ul or ol inside since overflow is set to hidden*/
padding:0 2px;margin:0 0 0 -2px;}

/* All UL's */
#nav,#nav ul,#nav ol,#subMenusContainer ul,#subMenusContainer ol{padding:0;margin:0;list-style:none;line-height:1em;}

/* All submenu */
#nav ul,#subMenusContainer ul{background:#fff;border:1px solid #ddd;border-top:0;left:0;padding:1px;}
#subMenusContainer .smOW{-webkit-box-shadow:1px 1px 3px #ccc;}

/* List items in main menu --[for non-javascript users this applies to submenus as well] */
#nav li{display:block;list-style:none;position:relative;float:left;}

#subMenusContainer ul{width:14em;margin-left:-2px;}
#subMenusContainer li{list-style:none;margin:0;width:100%;border:0;border-bottom:1px dashed #ddd;padding:0;}
#subMenusContainer li span.separator{display:block;color:#ccc;}
#subMenusContainer li span.separator,
#subMenusContainer li a{position:relative;float:none;padding:.6em .5em;font-size:12px;height:auto;line-height:1;}
#subMenusContainer li.last{border:0;}

/* main menu ul or ol elment */
#nav{display:block;list-style:none;margin:0 0 0 0;z-index:5;text-align:center;display:block;}
#subMenusContainer{display:block;position:absolute;top:0;left:0;width:100%;height:0;overflow:visible;z-index:1000000000;}

/* --------------------------[ The below is just for non-javscript users ]--------------------------*/
#nav li li .separator,
#nav li li{float:left;width:100%;border:0;border-bottom:1px dashed #ddd;padding:0;}
#nav li li .separator,
#nav li li a{position:relative;float:none;padding:.6em .5em;font-size:12px;height:auto;line-height:1;}
#nav li li span.separator{color:#999;}
#nav li ul{position:absolute;width:14em;margin-left:-1000em;margin-top:36px;z-index:99;}
#nav li li.last .separator,
#nav li li.last{border:0;}

#nav li li span.separator{border:0;text-align:left;font-size:12px;}

/* third-and-above-level lists */
#nav li ul ul{margin:-1em 0 0 -1000em;}
#nav li:hover ul ul{margin-left:-1000em;}
/* lists nested under hovered list items */
#nav li:hover ul{margin-left:-2px;}
#nav li li:hover ul{margin-left:14em;margin-top:-2.5em;}
/* extra positioning rules for limited noscript keyboard accessibility */
#nav li a:focus + ul{margin-left:0;margin-top:2.2em;}
#nav li li a:focus + ul{left:0;margin-left:14em;margin-top:-2.2em;}
#nav li li a:focus{left:0;margin-left:1000em;width:14em;margin-top:0;}
#nav li li li a:focus{left:0;margin-left:2014em;width:14em;margin-top:-1em;}
#nav li:hover a:focus{margin-left:0;}
#nav li li:hover a:focus + ul{margin-left:14em;}


/* Sidebar Menu
******************************************************/
#sidebar .mod._menu .modinner{padding:0;}
#sidebar .menu,
#sidebar .menu li{list-style:none;margin:0;}
#sidebar .menu li{ border-bottom:1px solid #ccc;}
#sidebar .menu li.last{border-bottom:0;}
#sidebar .menu .separator,
#sidebar .menu a{padding:.5em .5em;display:block;background:#fff;}
#sidebar .menu .separator:hover,
#sidebar .menu a:hover{background:#eee;}
#sidebar .menu li.active a{background:#ddd;}
#sidebar .menu ul{border-top:1px solid #ccc;}
#sidebar .menu ul .separator,
#sidebar .menu ul li a{padding-left:1em;}
#sidebar .menu li.active ul .separator,
#sidebar .menu li.active ul a {background:#F5F4F4;}

/* Footer Menu
******************************************************/
#footer .footer-links ul,
#footer .footer-links li { margin: 0; padding: 0; list-style: none; }
#footer .footer-links li { display: inline; padding-right: 1em; }