/*----------------------------------------------------------------------------
++ Modules Styling
++ These styles are for the default Joomla modules & module chromes.
----------------------------------------------------------------------------*/

/* General Module Chrome Styles
******************************************************/
#sidebar .mod{margin-bottom:1em;border:1px solid #ccc;}
#sidebar .mod-basic{}
#sidebar .mod h3{margin:0;background:#eee;border-bottom:1px solid #ccc;padding:.5em .7em;color:#666;font-size:1em;font-weight:400;}
#sidebar .mod .modinner{background:#FBFBFB;border:1px solid #FBFBFB;padding:1em;font-size:.9em;}
#sidebar .mod ul,
#sidebar .mod li{margin:0;}
#sidebar .mod li{margin:0 0 0 1.5em;color:#999;}
#sidebar .mod li a:link{color:#555;text-decoration:none;}
#sidebar .mod li a:visited{color:#999;text-decoration:none;}

/* Module Grid
******************************************************/
.modinner{padding:0 1em;}
.mod-grid{float:left;}
.shelf .mod h3{margin:.5em 0 .2em .8em;}
.count1 .mod-grid{width:100%;}
.count2 .mod-grid{width:50%;}
.count3 .mod-grid{width:33%;}
.count4 .mod-grid{width:25%;}
.count5 .mod-grid{width:20%;}

/* Search Module
******************************************************/
#navigation .search{float:right;}
#navigation .search-btn,
#navigation .search-input{background-position:99% -295px;color:#999;background-color:#fff;border:1px solid;border-color:#ccc #ddd #ddd #ccc;padding:.4em;width:15em;margin: 0.6em 0.5em 0px;}
#navigation .search-input:focus{color:#555;border-color:#999 #ccc #ccc #999;}
#navigation .search-btn{cursor:pointer;width:auto;padding:0 .5em;height:23px;color:#777;border-color:#B7B6B6;margin:0 5px 0 0;}
#navigation .search-btn:hover{}
#navigation .search-btn:focus{}

/* Breadcrumbs
******************************************************/
#breadcrumbs{background:#eee;color:#999;font-size:.9em;}
#breadcrumbs .breadcrumbs{margin:0;padding:.5em 1em;float:left;}
#breadcrumbs .breadcrumbs a{background-position:100% -396px;padding-right:20px;text-decoration:none;}
#breadcrumbs .date{float:right;padding:6px 7px 0 0;}
#breadcrumbs.pos0{background:none;padding:0;border:0;border-bottom:1px dashed #ccc;margin:-1em 0 0;}
#breadcrumbs.pos0 .breadcrumbs{padding:.5em 0;}
#breadcrumbs.pos3{border:1px solid #ccc;border-top:0;background:#F5F2F2;}

/* Login Module
******************************************************/
#login-mod .login-form{margin:0;padding:0;}
#login-mod .login-username label,
#login-mod .login-password label{display:block;}
#login-mod .login-form li{margin:0;}
#login-mod input.form-input{color:#999;background:#fff;border:1px solid;border-color:#ccc #ddd #ddd #ccc;padding:.5em 0;text-indent:.5em;width:100%;}
#login-mod input.form-input:focus{color:#555;border-color:#999 #ccc #ccc #999;}
#login-mod li.login-actions{margin:1em 0;}
#login-mod .login-btn{font-size:1em;margin:0;padding:4px 7px;}
#login-mod button.logout-btn{display:block;margin-top:.5em;}
#form-login-remember{}
#sidebar #login-mod .login-links li,
#sidebar #login-mod .login-links li a{color:#999;}
#sidebar #login-mod .login-links li a:hover{color:#555;text-decoration:underline;}

/* Banner Module
******************************************************/
.banner{float:right;}
.banner ul,
.banner li{margin:0;padding:0;list-style:none;}