/*----------------------------------------------------------------------------
++ Offline Mode Styling
++ These styles control the Joomla Offline Mode
----------------------------------------------------------------------------*/
body{margin:0;padding:0;font-family:Arial,Helvetica,Sans Serif;font-size:78%;color:#333333;text-align:center;}
img{border:0;margin-bottom:1em;}
#frame{padding:2.5em 3em 5em 3em;position:absolute;top:50%;left:50%;width:30em;height:16em;margin-top:-12em;margin-left:-18em;border:1px solid;border-color:#ccc #999 #999 #ccc;background-color:#eee;}
form{border-top:1px dashed #ccc;padding-top:1em;text-align:left}
fieldset{border:0 none;margin:0em;padding:0.2em;}
p{margin:0 0 .7em;padding:0;}
p.inputs{}
.inputs label{display:block;float:left;margin:.3em 0 0 2em;width:6em;}
.inputs input{border:1px solid;border-color:#ccc #ddd #ddd #ccc;padding:5px 8px;width:19em;}
.inputs input:focus{border-color:#999 #ccc #ccc #999;}
#form-login-remember{margin-left:97px;}
button{margin-left:101px;border:1px solid #ccc;cursor:pointer;width:auto;padding:5px 15px;font-size:1.2em;color:#777;border-color:#B7B6B6;}
button:hover{}
button:focus{}