/*----------------------------------------------------------------------------
++ Print Mode Styling
++ These styles control the Print mode.
----------------------------------------------------------------------------*/
body,html{background:#fff;color:#000;font:normal 13px/16px arial;padding:.5em;}
h1{font-size:30px;line-height:40px;margin:0 0 20px 0;}
h2{font-size:20px;line-height:30px;margin:0 0 20px 0;}
a:visited,
a:link{color:#000;}
.modified{color:#999;}
#witblits p {color:#000;font:normal 13px/21px arial!important;}
.article-info,
.pagination-links,
.pagination-links,
#toc{display:none!important;}
.print-icon{position:absolute;top:1em;right:1em;}
.print-icon a{border:3px solid #eee;display:block;}
.print-icon a:hover{border:3px solid #ddd;}
.print-icon a:active{position:relative;bottom:-1px;outline:0;}
.print-icon a:focus{outline:0;}
.print-icon img{border:1px solid #ccc;padding:5px;}