/*----------------------------------------------------------------------------
++ Right-To-Left Styling
++ Styling for RTL Sites
----------------------------------------------------------------------------*/
body{direction:rtl;}
*{text-align:right;}
#topnav #nav{float:right;}
#topnav #nav .first{border-left:1px solid #ddd;}
#topnav #nav .last{border-right:0;}
#toolbar .menu{float:left;}
#masthead #top{float:left;}
#masthead #branding{float:right;}
#masthead #branding h1{right:15px;}
#masthead #branding p.slogan{right:15px;}
#subhead #page-title h1{float:right;}
#subhead #page-title .call2action{float:left;}
#bd #primary-content .article-info li{float:right;}
#bd .search .search-input{background-position:5px 50%;}
#footer div.footer-left{float:right;}
#footer div.footer-right{float:left;}
#footer div.footer-right .footer-credits{text-align:left;}
#footer ul li{padding-left:1em;padding-right:0;}
#simple-contact dd.contact-address,
#simple-contact dd.contact-mobile,
#simple-contact dd.contact-tel,
#simple-contact dd.contact-fax,
#simple-contact dd.contact-name,
#simple-contact dd.contact-email,
#simple-contact dd.contact-website{padding:0 25px 0 0;}
#bd #simple-contact dd.contact-address{background-position:100% -182px}
#bd #simple-contact dd.contact-tel{background-position:100% -123px}
#bd #simple-contact dd.contact-fax{background-position:100% -90px}
#bd #simple-contact dd.contact-mobile{background-position:100% -154px}
#bd #simple-contact dd.contact-photo img{border:1px solid #ddd;background:#fff;padding:1px;}
form.polls div{overflow:hidden;}
#bd form.polls ul{margin-right:0;}
form.polls .button{float:right;margin:0 0 0 .5em;}
body #top-link{left:5px;text-align:left;}
#breadcrumbs,
#bd .pathway.breadcrumbs li,
#bd .ui-tabs .ui-tabs-nav,
#bd .ui-tabs .ui-tabs-nav li{float:right;}
#primary-content #pagination-wrap .pagination{float:left;}
#primary-content #pagination-wrap .pagination-links{float:right;}
#primary-content .blog-more h3{padding-right:.7em;}
#primary-content .blog-more .more-links{margin-right:1.5em;}
#bd #primary-content .article-info .icons{float:left;}
#primary-content h1.article-title{clear:both;}
#bd .article-info li{margin-left:10px;margin-right:0;}
#primary-content .pathway a:link, 
#primary-content .pathway a:visited{padding:0 0 0 1em;background-position:0 50%;}
#primary-content #pagenav li{text-align:left;}
#bd #pagenav li.pagenav-prev a{text-align:left;}
#bd #primary-content ul,
#bd .mod ul{margin-right:1em;}
#toc{float:left;margin:0 1em 0 0;}