/*----------------------------------------------------------------------------
++ Typography CSS
++ Default typography styling
----------------------------------------------------------------------------*/
body{font:13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif}
a:focus{outline:1px dotted}
hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}
#witblits h1{font-size:30px;margin:0 0 .5em;}
#witblits h2{font-size:23px;line-height:1.2em;margin-bottom:0.2em;}
#witblits h3{font-size:21px}
#witblits h4{font-size:19px}
#witblits h5{font-size:17px}
#witblits h6{font-size:15px}
#witblits ol{list-style:decimal}
#witblits ul{list-style:disc}
#witblits li{margin-left:30px}
#witblits a:active{position:relative;bottom:-1px;}
p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset{margin-bottom:20px}
ol li{color:#999;}
ol li h3{margin:0;font: bold 15px Arial!important;}
ol li p{margin:0 0 1em;color:#777;font-style:italic;}