/*----------------------------------------------------------------------------
++ Firefox Browser Styling
++ CSS Tweaks for all versions of Firefox
----------------------------------------------------------------------------*/

#main .readon a{background:-moz-linear-gradient(center top , #fff, #eee) repeat scroll 0 0 transparent;}
#main .readon a:hover{background:-moz-linear-gradient(center top , #eee, #fff) repeat scroll 0 0 transparent;}

#navigation-wrap{background:#eee;background:-moz-linear-gradient(top,#fff,#eee);}
#navigation{background:#eee;background:-moz-linear-gradient(top,#fff,#eee);}
#main-wrap{background:-moz-linear-gradient(center top,rgb(240,240,237) 2%,rgb(255,255,255) 11%);}

#nav .top-level.active,
#nav li:hover,
#nav li.sfHover,
#nav a:focus,
#nav a:hover,
#nav a:active{background:#ddd;background:-moz-linear-gradient(top,#eee,#fff);}

button,
#navigation .search-btn,
#main .readon a,
#editor-xtd-buttons a,
#editor .blank a,
#witblits .button{-moz-border-radius:15px 15px 15px 15px;-moz-box-shadow:0 1px 0 0 #fff inset;background:-moz-linear-gradient(center top , #eee, #ccc);cursor:pointer;}
#navigation .search-btn:hover,
#main .readon a:hover,
#editor .blank a:hover,
#editor-xtd-buttons a:hover,
button:hover,
#witblits .button:hover{background:-moz-linear-gradient(center top , #fff, #ccc);}
button:focus,
#navigation .search-btn:focus,
#editor .blank a:focus,
#editor-xtd-buttons a:focus,
#witblits .button:focus{background:-moz-linear-gradient(center top , #ddd, #fff);}

#tiptip_content{text-shadow: 0 0 2px #000;border: 1px solid rgba(255,255,255,0.25);background-color: rgb(25,25,25);background-color:rgba(25,25,25,0.92);border-radius:3px;-moz-border-radius:3px;box-shadow:0 0 3px #555;-moz-box-shadow: 0 0 3px #555;}
form#login input.button{-moz-border-radius:50px;text-shadow:0 1px 0 #fff;}
#sidebar .mod h3{background:-moz-linear-gradient(top,#fff,#eee);text-shadow:1px 1px #eee;}

#witblits button,
#content .search-btn{background:-moz-linear-gradient(top,#eee,#ccc);}
#witblits button:hover,
#content .search-btn:hover{background:-moz-linear-gradient(top,#ddd,#ccc);}
#witblits button:focus,
#content .search-btn:focus{background:-moz-linear-gradient(top,#ddd,#fff);}

.icons .icon a{opacity:0.5;}
.icons .icon a:hover{opacity:1;}

#navigation.standard{background:#eee;background:-moz-linear-gradient(top,#fff,#eee);}
#navigation.standard a:hover { background: #ddd;background: -moz-linear-gradient(top,  #eee,  #fff); }

#tiptip_holder.tip_top #tiptip_arrow {border-top-color: rgba(255,255,255,0.35); }
#tiptip_holder.tip_bottom #tiptip_arrow { border-bottom-color: rgba(255,255,255,0.35); }
#tiptip_holder.tip_right #tiptip_arrow { border-right-color: rgba(255,255,255,0.35); }
#tiptip_holder.tip_left #tiptip_arrow { border-left-color: rgba(255,255,255,0.35); }
#tiptip_holder.tip_top #tiptip_arrow_inner { border-top-color: rgb(25,25,25); border-top-color: rgba(25,25,25,0.92); }
#tiptip_holder.tip_bottom #tiptip_arrow_inner { border-bottom-color: rgb(25,25,25); border-bottom-color: rgba(25,25,25,0.92); }
#tiptip_holder.tip_right #tiptip_arrow_inner { border-right-color: rgb(25,25,25); border-right-color: rgba(25,25,25,0.92); }
#tiptip_holder.tip_left #tiptip_arrow_inner { border-left-color: rgb(25,25,25); border-left-color: rgba(25,25,25,0.92); }