/* -- Imported styles ----------------------------- */

@import url("general.css");

/* -- Specific styles ----------------------------- */

form  			{ margin: 0px; padding: 0px; }
form .inputbox  { 
	width: 235px !important;
	font-size: 20px;
	padding: 5px;
	border: 1px solid #D7DADE;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.login { margin: 0 auto; width: 300px; margin-bottom: 100px; }

h1 { margin: 15px 0; }

p {
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}

#content-box { padding: 30px 0; }
#section-box {
	-webkit-box-shadow: #AAA 0px 3px 15px;
	border: 1px solid #D7DADE;
	border-bottom-left-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
	padding: 25px !important;
}

#form-login label {
	font-size: 13px;
	width: 120px;
	text-align: left;
	padding: 4px;
	color: #666;
	font-weight: bold;
}