/** rounded corners **/
#border-top         { 
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}

div#container,
div#toolbar-box,
div#submenu-box,
div#element-box,
div#element-box div#section-box {
  border: 1px solid #CDCDCD;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

div#container {
	padding-bottom: 10px;
}

div#toolbar-box {
  padding: 6px 0;
  background: #f7f7f7;
  border: 1px solid #CDCDCD;
}

div#submenu-box {
  padding: 6px 8px;
}

div#element-box {
  padding: 5px 10px;
  background: #fff;
}

div#element-box div#section-box {
  background: #fbfbfb;
  padding: 10px 0;
}