body {
	overflow: hidden;
}

html, body {
	height: 100%;

	#container {
		@include flex-box(column, 1);
		min-height: 100%;
	}
}

.box-row {
	@include flex-box(row, 1);
	min-height: 100%;
}

#panel-header  {
	@include flex-box(row);
	min-height: 30px;
	max-height: 30px;

	#menu {
		@include flex-box(row, 1);
	}
}

#panel-tabbar {
	@include flex-box(column, 30px 0);

	#menubar {
		@include flex-box();
	}
}

#panel-toolbar {
	@include flex-box(row, 41px 0);
    min-height: auto;

	> .toolbar {
		@include flex-box(row, 1);
	}
}

#panel-sidebar,
#panel-inspector {
	@include flex-box(column, 1 1 15%);
    max-width: 200px;

	h3 {
		width: 100%;
	}
}

#panel-content {
	@include flex-box(column, 1 1 70%);
	min-height: 100%;

	.-koowa-grid {
		width: 100%;
	}

	.-koowa-form {
		@include flex-box(row, 1);
		min-height: 100%;

		.main {
			@include flex-box(column, 1);
			min-height: 100%;

			.title {
				min-height: 64px;

                @include flex-box(column, 0);

				.slug {
					@include flex-box(row, 0);
				}
			}

			.scrollable {
				@include box-flex(1);
				@include box-scrollable(scrollable);
				min-height: 100%;
			}
		}
		.sidebar {
			@include flex-box(column, initial);
		}
	}
}

.scrollable {
	@include box-scrollable(scrollable);
	@include box-flex(1);
	min-height: 100%;
}

.editor-wrap,
.editor-container,
.mceEditor,
table.mceLayout,
table.mceLayout > tbody,
table.mceLayout > tbody > tr:nth-of-type(2),
table.mceLayout > tbody > tr:nth-of-type(2) td.mceIframeContainer,
table.mceLayout > tbody > tr:nth-of-type(2) td.mceIframeContainer iframe {
	@include flex-box(column, 1);
}

table.mceLayout,
table.mceLayout > tbody > tr:nth-of-type(2) td.mceIframeContainer iframe {
	height: auto !important;
}

.CodeMirror {
	@include flex-box(column, 1);

	.CodeMirror-scroll {
		@include box-flex(1);
	}
}

/* @group Scope Bar */
.scopebar {
	@include flex-box(row, 0);
	min-height: 22px;

	.scopebar-search {
		@include flex-box(horizontal, 1);
		@include box-justify-content(flex-end);

		input {
			@include flex-box(horizontal, 1);
		}
	}
}

.com_pages {
	#components,
	#layouts {
		@include flex-box(column, none);
	}
}

.com_dashboard #panel-content {
	@include flex-box(row, 1);

	> div:first-child {
		@include flex-box(row, 1);

		> div {
			@include flex-box(column, 1);

			#activities-list {
				@include flex-box(column, 1);

				.activities {
					@include box-flex(1);
					@include box-scrollable(scrollable);
					min-height: 100%;

					* {
						@include box-flex(none);
					}
				}
			}
		}
	}
}

.com_files {
	#files-app {
		@include flex-box(column, 1);

		#files-canvas {
			@include flex-box(column, 1);
				#files-grid {
					@include box-flex(1);
					@include box-scrollable(scrollable);
					min-height: 100%;
				}
		}
	}

	#files-paginator {
		height: 26px;
	}

	#files-tree {
			@include box-flex(1);
			@include box-scrollable(scrollable);
			min-height: 100%;
	}
}