html {
  @include flex;
  height: 100%;
  overflow: hidden;
}

body {
  @include flex(1 1 auto);
  @include flex-direction(column);
  height: 100%; // Required for Firefox 23.0a2
  overflow: hidden;
}

.navigation {
  @include flex-grow(1);
  overflow-y: scroll;

  a {
    @include flex(0 0 auto);
    @include flex-justify-content(space-between);

    .navigation__badge {
      @include flex-grow(0);
    }
  }
}

#panel-wrapper {
  @include flex(1 1 auto);
  @include flex-direction(column);
}

#panel-header  {
  @include flex;
  @include flex-shrink(0);
  @include flex-justify-content(space-between);
}

#panel-tabbar {
  @include flex;
  @include flex-shrink(0);
}

#panel-toolbar {
  @include flex;
  @include flex-shrink(0);
  @include flex-justify-content(space-between);

  > .toolbar {
    @include flex;

  }
}

#panel-component {
  @include flex(1 1 auto);
}

#panel-sidebar,
#panel-inspector {
  @include flex(0 1 auto);
  @include flex-direction(column);
  width: 200px;

  h3 {
    @include flex-shrink(0);
  }
}

#panel-content {
  @include flex(1);

  .-koowa-grid {
    @include flex(1);
    @include flex-direction(column);
  }

  .-koowa-form {
    @include flex(1);

    .main {
      @include flex(1);
      @include flex-direction(column);

      .title {
        @include flex(0 0 auto);
        @include flex-direction(column);

        .slug {
          @include flex;
        }
      }
    }
    .sidebar:not(.no--scrollbar) {
      overflow-y: scroll;
    }
    .sidebar.no--scrollbar {
      @include flex;
      @include flex-direction(column);
    }
  }
}

.scrollable {
  @include box-scrollable(scrollable);
  @include flex-grow(1);
}

.editor-wrap,
.editor-container,
.mceEditor,
table.mceLayout,
table.mceLayout > tbody,
table.mceLayout > tbody > tr:nth-of-type(2),
table.mceLayout > tbody > tr:nth-of-type(2) td.mceIframeContainer,
table.mceLayout > tbody > tr:nth-of-type(2) td.mceIframeContainer iframe {
  @include flex(1);
  @include flex-direction(column);
}

table.mceLayout > tbody > tr:nth-of-type(1),
table.mceLayout > tbody > tr:nth-of-type(3){
  @include flex(0 0 auto);
}

.CodeMirror {
  @include flex(1);
  @include flex-direction(column);

  .CodeMirror-scroll {
    @include flex(1);
  }
}

/* @group Scope Bar */
.scopebar {
  @include flex;

  .scopebar__search {
    @include flex;
    margin-left: auto;

    input {
      @include flex(1);
    }
  }
}

.com_pages {
  #components,
  #layouts {
    @include flex;
    @include flex-direction(column);
  }
}

.com_dashboard #panel-content {
  @include flex(1);

  > div:first-child {
    @include flex(1);

    > div {
      @include flex(1);
      @include flex-direction(column);

      #activities-list {
        @include box-scrollable(scrollable);
        @include flex(1);
        @include flex-direction(column);
      }
    }
  }
}

.com_files {
  #files-app {
    @include flex(1);
    @include flex-direction(column);

    #files-canvas {
      @include flex(1);
      @include flex-direction(column);
        #files-grid {
          @extend .scrollable;
        }
    }
  }

  #files-paginator {
    height: 26px;
  }

  #files-tree {
    @extend .scrollable;
  }

  #files-compact {
    @include flex;
  }

  #files-insert {
    @include flex;

    #files-tree-container,
    #files-grid {
      @include flex(0 0 auto);
    }

    #details {
      @include flex(1 0 auto);
      @include flex-direction(column);

      #files-preview {
        @include flex(1 0 auto);
      }

      #image-insert-form {
        @include flex-shrink(0);
      }
    }
  }
}