@charset "UTF-8";

html, body{
    overflow: auto;
    display: block;
    height: auto;
    -moz-user-select: -moz-inherit;
    -ms-user-select: inherit;
    -webkit-user-select: inherit;
    user-select: inherit;
}