<?xml version="1.0" encoding="utf-8"?>
<config>
	<params>
		<param name="cache" type="list" default="1" label="Caching" description="Select whether to cache the content of this module">
			<option value="0">Never</option>
		</param>
		<param name="usesecure" type="radio" default="0" label="Encrypt Login Form" description="Submit encrypted login data (requires SSL)">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
	</params>
</config>
