<?xml version="1.0" encoding="utf-8"?>
<config>
	<params>
		<param name="show_create_date" type="radio" default="1" label="Created Date and Time" description="TIPIFSETTOSHOWDATETIMECREATED">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param name="show_modify_date" type="radio" default="1" label="Modified Date and Time" description="TIPIFSETTOSHOWDATETIMEMODIFIED">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
	</params>
</config>