/* @group Editor Canvas (Flexi Box Model) */
/* Stretch editor to full height of the canvas without JS */
.editor-wrap,
.editor-container {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
	
	display: -moz-box;
	-moz-box-orient: vertical;
	-moz-box-flex: 1;
	
	display: box;
	box-orient: vertical;
	box-flex: 1;
}


#editor-xtd-buttons,
#editor-toggle-buttons {
	float: none !important;
}

.mceEditor,
.mceLayout,
.mceLayout tbody,
.mceLayout tbody tr td.mceIframeContainer,
.CodeMirror-wrapping { 
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
	
	display: -moz-box;
	-moz-box-orient: vertical;
	-moz-box-flex: 1;
	
	display: box;
	box-orient: vertical;
	box-flex: 1;
}
.editor-toolbar {
	height: 18px;
}
.CodeMirror-wrapping {
	
}
.editor-wrap .CodeMirror-wrapping iframe {
	float: none;
	overflow: hidden;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}

.mceLayout tbody tr 	{ 
	display: -webkit-box;
	-webkit-box-orient: vertical;
	
	display: -moz-box;
	-moz-box-orient: vertical;
	
	display: box;
	box-orient: vertical;
}
.mceLayout tbody tr:nth-of-type(2),
.mceLayout tbody tr td.mceIframeContainer iframe { 
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}
/* @end group */