/* -- General styles ------------------------------ */

div.message {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 3px;
	border: 1px solid #e0e0e0;
	margin-bottom: 10px;
	font-weight: bold;
	color: #333;
	/*letter-spacing: .1em;*/  /* letter spacing doesn't work for all languages */
}

/* -- Specific styles ----------------------------- */
.com_users.login {
	overflow: auto;

	#login-box  {
		padding: 50px 0 10px 0;
		width: 300px;
		margin: 0 auto;

		form  			{ margin: 0px; padding: 0px; }
		form input  { 
			width: 235px !important;
			padding: 4px 8px;
			border: 1px solid #D7DADE;
			font-size: @baseFontSize * 1.5;
			.box-sizing(border-box);
			.border-radius(4px);
			height: @baseLineHeight * 3;
		}

		.login { margin: 0 auto; width: 300px; margin-bottom: 100px; }

		.btn {
			margin-top: 14px;
		}

		h1 { 
			margin: 0;
			text-align: center;
			background: grey;
			padding: 10px 0;
			color: #464646;
			#gradient > .vertical(#f6f6f6, #e6e6e6);
			.border-radius(10px 10px 0 0);
			.box-shadow(#AAA 0px 2px 3px);
		}

		p {
			margin: 0;
			padding: 0;
			margin-bottom: 10px;
		}

		img { margin-bottom: 25px; }

		#section-box {
			.box-shadow(#AAA 0px 3px 15px);
			border: 1px solid #D7DADE;
			.border-radius(10px);
			padding: 0 !important;
			background: #FFF;
		}

		form {
			padding: 25px;
		}

		a.return {
			margin-top: 15px;
			text-align: center;
			display: block;
		}

		#form-login label {
			font-size: 13px;
			width: 120px;
			text-align: left;
			padding: 4px;
			color: #666;
			font-weight: bold;
		}
	}

	input:focus,
	textarea:focus {
	  @color: @blueDark;
	  @shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px hsla(hue(@color), saturation(@color), lightness(@color), .6);
	  .box-shadow(@shadow);
	}
}

.com_dashboard #window-body #window-content {
	#flexbox > .box(row, 1);
	
	> div:first-child {
		#flexbox > .box(row, 1);
		
		border-right: 1px solid @grayLighter;
	}
	
	.sidebar {
		width: 400px;
		padding: 20px;
	}
}

.com_articles .categories,
.com_users .groups {
	padding-bottom: 14px;
}

.com_articles .categories h3 {
	margin-bottom: 10px;
}

.com_articles .categories span,
.com_users .groups span {
	padding: 12px 10px 0px 0;
	font-weight: bold;
	display: block;
}

.com_articles .categories .control-group {
	margin-left: 12px;
}

.com_articles textarea[name="description"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	resize: vertical;
	width: 100%
}

.com_settings {
	dl.tabs {
		width: 200px;
		border-right: 1px solid #E1E1E1;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		background-color: #F9F9F9;
		overflow-y: scroll;
		
		float: none !important;
		margin: 0 !important;
		
		#flexbox > .box(column, 0);
	}
	
	dl.tabs h3 {
		color: #666;
		font-size: 11px;
		padding: 6px 0;
		text-indent: 12px;
		margin: 0;
		text-transform: uppercase;
	}
	
	dl.tabs dt {
		float: none !important;
		padding: 0 !important;
		margin: 0 !important;
		border: 0 none !important;
		background: none !important;
	}
	
	dl.tabs dt span {
		display: block;
		padding: 6px 0 6px 22px;
		color: #444;
		border-top: 1px solid #F9F9F9;
		font-weight: bold;
		
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	
	dl.tabs dt span:hover {
		color: #444;
		border-top-color: lighten(@blueDark, 40%);
		#gradient > .vertical(lighten(@blueDark, 45%), lighten(@blueDark, 35%));
		text-decoration: none;
	}
	
	dl.tabs dt.open span,
	dl.tabs dt.open span:hover {
		color: #FFF;
		border-top-color: lighten(@blueDark, 15%);
		#gradient > .vertical(lighten(@blueDark, 20%), @blueDark);
		.box-shadow(hsla(0, 0%, 100%, 0.2) 0 1px 0 inset);
		text-shadow: hsla(0, 0%, 0%, 0.2) 0 -1px 0;
	}
	
	.current {
	 	padding: 0 !important;
		clear: none !important;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border-top: 0 none !important;
		border-right: 0 none !important;
		border-bottom: 0 none !important;
		
		#flexbox > .box(row, 1);
		
		dd {
			padding: 14px 20px !important;
			
			#flexbox > .box(row, 1, scrollable);
		}
	}
	
	.current h2 {
		border-bottom: 1px solid #EEE;
		color: #53637D;
		padding-bottom: 4px;
		margin-bottom: 20px;
	}
}

.com_pages {
	/* Additions and overrides for the template */
	#main			{ background: #E6E6E6; } /* tabs.css */
	#main .tabs 	{ float: none !important; } /* tabs.css */
	
	#components {
		width: 200px;
		background: #F7F7F7;
		border-right: 1px solid #DDD;
	}
	
	#components h3 {
		border-bottom: 1px solid #DDD;
		margin: 0;
		padding: 10px;
	}
	
	#components a {
		display: block;
		font-size: 120%;
		font-weight: bold;
		padding: 10px 15px;
		border-bottom: 1px solid #DDD;
	}
	
	#components a.active 	{ background: #E8F3FB; }
	
	#layouts {
		width: 250px;
		border-right: 1px solid #DDD;
	}
	
	#layouts .view h4 {
		margin: 0;
		padding: 5px;
		background: #F0F0F0;
		border-bottom: 1px solid #DDD;
		border-top: 1px solid #DDD;
	}
	
	#layouts .view:first-of-type h4 { border-top: none 0px; }
	
	#layouts .view a {
		padding: 5px 10px;
		display: block;
		font-weight: bold;
	}
	
	#layouts .view a small {
		font-weight: normal;
		color: #333;
	}
	
	/* @group Tabs */
	#main dl.tabs {
		float: left;
		padding-top: 10px;
		margin: 0 0 -1px 0;
		z-index: 50;
	}
	#main dl.tabs dt {
		float: left;
		padding: 8px 12px;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		border-top: 1px solid #ccc;
		margin-left: 3px;
		background: #f0f0f0;
		color: #666;
		-webkit-border-radius: 5px 5px 0 0;
		font-weight: bold;
		font-size: 110%;
	}
	#main dl.tabs dt.open {
		background: #FFF;
		border-bottom: 1px solid #FFF;
		z-index: 100;
		color: #222;
	}
	#main div.current {
		clear: both;
		border-top: 1px solid #ccc;
		padding: 10px 10px;
		background-color: #FFF;
	}
	#main div.current dd {
		padding: 0;
		margin: 0;
	}
	/* @end */
	
	#parent {
		.level1 { .com_pages #parent .padding(1) }
		.level2 { .com_pages #parent .padding(2) }
		.level3 { .com_pages #parent .padding(2) }
		.level4 { .com_pages #parent .padding(2) }
		.level5 { .com_pages #parent .padding(2) }
		
		.padding(@level:1) {
			padding-left: (18px * @level) + 18px;
		}
	}
}