body {
	overflow: hidden;
}

html, body { 
	width: 100%;
	height: 100%;
	
	> div {
		width: 100%;
		height: 100%;
	}
}

.box-row {
	#flexbox > .box(row, 1)
}

.box-column {
	#flexbox > .box(column, 1)
}

#panel-header  { 
	#flexbox > .box(row, 30px 0);

	#menu {
		#flexbox > .box(row, 1);
	}
}

#panel-navigation {
	#flexbox > .box(column, 28px 0);

	#menubar {
		#flexbox > .box();
	}
}

#panel-toolbar {
	#flexbox .box(row, 20px 0);
	
	> .toolbar {
		#flexbox > .box(row, 1);
	}
}

#panel-sidebar,
#panel-inspector {
	#flexbox > .box(column, initial);
	min-width: 180px;
	max-width: 180px;
}

#panel-content { 
	#flexbox > .box(column, 1);
	
	.-koowa-form {
		#flexbox > .box(row, 1);
	
		.form-body {
			#flexbox > .box(column, 1);
	
			.title {
				height: 36px;
			}
			
			.form-content {
				#flexbox > .box-flex(1);
				#flexbox > .box-scrollable(scrollable);
			}
		}
		
		.sidebar {
			#flexbox > .box(column, initial);
		}
	}		
}

.scrollable {
	#flexbox > .box(column, 1 0 0%, scrollable);
	
	* {
		#flexbox > .box-flex(none);
	}
}

.editor-wrap,
.editor-container,
.mceEditor,
table.mceLayout,
table.mceLayout > tbody,
table.mceLayout > tbody > tr:nth-of-type(2),
table.mceLayout > tbody > tr td.mceIframeContainer { 
	#flexbox > .box(column, 1);
}

.CodeMirror { 
	#flexbox > .box(column, 1);
	
	.CodeMirror-scroll { 
		#flexbox > .box-flex(1);
	}
}

.-koowa-grid {
	#flexbox > .box(column, 1);
}



form[name="adminForm"] {
	#flexbox > .box(horizontal, 1, scrollable);
}

/* @group Scope Bar */
.scopebar { 
	#flexbox > .box(row, 0);
	min-height: 18px;

	.scopebar-search {
		#flexbox > .box(horizontal, 1);
		#flexbox > .box-pack(end);
		#flexbox > .box-justify-content(flex-end);

		input {
			#flexbox > .box(horizontal, 1);
		}
	}
}

.com_pages {
	#components,
	#layouts {
		#flexbox > .box(column, initial);
	}
	
	#main {
		#flexbox > .box(column, 1);
		
		.tabs {
			min-height: 31px;
		}
		
		.current {
			#flexbox > .box-flex(1);
			#flexbox > .box-scrollable(scrollable);
		}
	}
}

.com_dashboard #window-body #panel-content {
	#flexbox > .box(row, 1);

	> div:first-child {
		#flexbox > .box(row, 1);

		> div {
			#flexbox > .box(column, 1);

			#activities-list {
				#flexbox > .box(column, 1);

				.activities {
					#flexbox > .box(column, 1 0 0%, scrollable);

					* {
						#flexbox > .box-flex(none);
					}
				}
			}
		}
	}
}

.com_files {
	#files-app {
		#flexbox > .box(column, 1);
		
		#files-canvas {
			#flexbox > .box(column, 1);
			
			.view {
				#flexbox > .box(column, 1);
				
				#files-grid {
					#flexbox > .box(column, 1 0 0%, scrollable);
					
					div {
						#flexbox > .box-flex(none);
						.clearfix();
					}
				}
			}
		}
	}
	
	#files-paginator-container {
		height: 50px;
	}
}