body {
	background-color: #F9F9F9;
}

#container {
	.clearfix();
}

#statusmenu {
	.pull-right();	
}

#submenu {
	li {
		float: left;
	}
}

#window-body {
	width: 100%;
	.clearfix();
}

#window-sidebar,
#window-inspector {
	width: 2 * 8.33333%;
	float: left;
	display: block;
	margin-left: 0;
}

#window-content {
	width: 8 * 8.33333%;
	float: left;
	display: block;
	margin-left: 0;
	
	.form-content {
		.clearfix();
	}
}

.scopebar {
	.scopebar-group {
		float: left;
	}
	
	.scopebar-search {
		float: right;
	}
}