/* System Standard Messages */
#system-message dd.message ul { background: #C3D2E5 url(../images/notice-info.png) 4px center no-repeat; }

/* System Error Messages */
#system-message dd.error ul { color: #c00; background: #E6C0C0 url(../images/notice-alert.png) 4px top no-repeat; }

/* System Notice Messages */
#system-message dd.notice ul { color: #c00; background: #EFE7B8 url(../images/notice-note.png) 4px top no-repeat; }