table.admintable td 					 { padding: 3px; }
table.admintable td.key,
table.admintable td.paramlist_key {
	text-align: right;
	width: 140px;
	color: #666;
	font-weight: bold;
}

table.admintable td label {
	display: inline;
}

table.admintable td.paramlist_description {
	text-align: left;
	width: 170px;
	color: #333;
	font-weight: normal;
}

table.admintable td.key.vtop { vertical-align: top; }

table.adminform {
	width: 100%;
	margin: 8px 0 15px 0;
}
table.adminform.nospace { margin-bottom: 0; }

table.adminform tr:nth-child(even) 	{ background-color: #F9F9F9; }
table.adminform tr:nth-child(odd) 	{ background-color: #FEFEFE; }

table.adminform th {
	font-size: 11px;
	padding: 6px 2px 4px 4px;
	text-align: left;
	height: 25px;
	color: #000;
	background-repeat: repeat;
}
table.adminform td { padding: 3px; text-align: left; }

table.adminform td.filter{
	text-align: left;
}

table.adminform td.helpMenu{
	text-align: right;
}

fieldset.adminform { 
	border: 1px solid #ccc;
	margin: 0 10px 10px 10px;
	.border-radius(4px);
 }
 
 

/* @group Buttons */
.button2-left,
.button2-right,
.button2-left,
.button2-right {
	float: left;
}

.button2-left a,
.button2-right a,
.button2-left span,
.button2-right span {
	padding: 4px 14px;
	margin-left: 5px;
	line-height: @baseLineHeight;
}

input.button,
.button2-left a,
.button2-right a,
.button2-left span,
.button2-right span {
	color: #333;
	cursor: pointer;
	font-weight: bold;
	#gradient > .vertical(#FFF, #F0F0F0);
	border: 1px solid #BBB;
	.border-radius(3px);
}

.button2-left a,
.button2-right a,
.button2-left span,
.button2-right span {
	display: block;
}

.button2-left span,
.button2-right span { cursor: default; color: #999; }

input.button:hover,
.button2-left a:hover,
.button2-right a:hover {
	.box-shadow(hsla(0, 0%, 55%, 0.8) 0px 0px 2px);
	text-decoration: none;
}

input.button:active,
.button2-left a:active,
.button2-right a:active{
	.box-shadow(inset hsla(0, 0%, 55%, 0.8) 0px 0px 2px);
}
/* @endgroup */

#editor-xtd-buttons { 
	float: left;
	border: 1px solid #BBB;
	background-color: #F0F0EE;
	padding: 2px 0 2px 8px;
	margin-bottom: 2px;
}

#editor-xtd-buttons .left { float: left; font-weight: bold; line-height: @baseLineHeight; }

#editor-xtd-buttons div.button2-left a { 
	height: auto;
	line-height: normal;
	padding: 2px 8px;
	margin: 0 2px;
	border: 1px solid #F0F0EE;
	color: #000;
}

#editor-xtd-buttons div.button2-left a:hover { 
	border: 1px solid #190D70;
	background-color: #B2B9D3;
}

/* Tooltips */
.tool-tip {
	float: left;
	background: #ffc;
	border: 1px solid #D4D5AA;
	padding: 5px;
	max-width: 200px;
	z-index: 50;
}

.tool-title {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: bold;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
	background: url(../images/selector-arrow.png) no-repeat;
}

.tool-text {
	font-size: 100%;
	margin: 0;
}

/* System Standard Messages */
#system-message dd.message ul { background: #C3D2E5 url(../images/notice-info.png) 4px center no-repeat; }

/* System Error Messages */
#system-message dd.error ul { color: #c00; background: #E6C0C0 url(../images/notice-alert.png) 4px top no-repeat; }

/* System Notice Messages */
#system-message dd.notice ul { color: #c00; background: #EFE7B8 url(../images/notice-note.png) 4px top no-repeat; }