// Links
@linkColor:             #0B55C4;
@linkColorHover:        darken(@linkColor, 15%);

// Grays
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #999;
@grayLighter:           #ddd;
@white:                 #fff;

// Accent colors
@blue:                  #049cdb;
@blueDark:              #2B75BF;
@green:                 #46a546;
@red:                   #9d261d;
@yellow:                #ffc40d;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;

// Typography
@baseFontSize:          11px;
@baseFontFamily:        Arial, Helvetica, sans-serif;
@baseLineHeight:        12px;
@textColor:             @grayDark;

// Buttons
@primaryButtonBackground:    @linkColor;



// COMPONENT VARIABLES
// --------------------------------------------------

// Sprite icons path
@iconSpritePath:          "../less/bootstrap/img/glyphicons-halflings.png";
@iconWhiteSpritePath:     "../less/bootstrap/img/glyphicons-halflings-white.png";

// Navbar
@navbarBackground:                @gray;
@navbarBackgroundDropdown:        @white;
@navbarBackgroundHighlight:       #4F6EF6;

@navbarLinkColor:                 @grayDark;
@navbarLinkColorHighlight:        @white;
@navbarLinkColorDisabled:         @gray;

// Tabbar
@tabbarBackground:                #6497EF;
@tabbarBackgroundHighlight:       #F9F9F9;

@tabbarLinkColor:                 @white;
@tabbarLinkColorHighlight:        @grayDark;