@navbarBackgroundDropdown:        @white;
@navbarLinkColorHighlight:        @white;

@tabbarBackground:                #6497EF;
@tabbarBackgroundHighlight:       #F9F9F9;

@tabbarLinkColor:                 @white;
@tabbarLinkColorHighlight:        @grayDark;
